<div class="row">
    <div class="large-12 columns">
        <div class="callout panel">
            <p><strong>{{name}}</strong>{{#if tagline}}<br/>{{/if}}{{tagline}}</p>
            <div class="row">
                <div class="large-3 medium-6 small-12 columns">
                    <p>Price: {{showPrice price}}</p>
                </div>
                <div class="large-3 medium-6 small-12 columns">
                    <p>Rating: {{showRating rating}}</p>
                </div>
                <div class="large-6 medium-12 small-12 columns">
                    <p>Address: {{address}}</p>
                </div>
            </div>
            <p>Description: {{description}} </p>
            <a href="#restaurant/{{id}}" name="restaurant-{{id}}" class="button restaurantRow" style="color: white;">Show Times</a>
            {{#if selected}}
            <form>
                <fieldset>
                    <legend>Available Times</legend>

                    <div class="row">
                        {{#each availableTimes}}
                        <div class="large-3 medium-4 small-6 columns availableTime" value="{{this}}">
                            {{time this}}
                        </div>
                        {{/each}}
                    </div>
                </fieldset>
            </form>

            <div class="reservationForm" />
            {{/if}}
        </div>
    </div>
</div>
