<div class="row">
    <div class="large-12 columns">
        <div class="callout panel">
            <p><strong>{{name}}</strong>{{#if tagline}}<br/>{{/if}}{{tagline}}</p>
            <div class="row">
                <div class="large-3 medium-6 small-12 columns">
                    <p>Price: {{showPrice price}}</p>
                </div>
                <div class="large-3 medium-6 small-12 columns">
                    <p>Rating: {{showRating rating}}</p>
                </div>
                <div class="large-6 medium-12 small-12 columns">
                    <p>Address: {{address}}</p>
                </div>
            </div>
            <p>Description: {{description}} </p>
            <form>
                <fieldset>
                    <legend>Available Times</legend>

                    <div class="row">
                        <div class="large-3 medium-4 small-6 columns">
                            5:30 PM
                        </div>
                        <div class="large-3 medium-4 small-6 columns">
                            6:00 PM
                        </div>
                        <div class="large-3 medium-4 small-6 columns">
                            6:30 PM
                        </div>
                        <div class="large-3 medium-4 small-6 columns">
                            7:00 PM
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
    <br>
</li>

